@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply overflow-x-hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title-h1 {
  @apply lg:text-6xl text-3xl lg:mb-7 mb-4;
}

.title-h2 {
  @apply lg:text-4xl text-2xl lg:mb-7 mb-4 font-semibold;
}

.title-h3 {
  @apply xl:text-3xl lg:text-2xl text-2xl font-bold xl:mb-8 lg:mb-4 mb-4;
}

.title-h4 {
  @apply lg:text-2xl text-xl font-semibold lg:mb-5 mb-6;
}

.title-h5 {
  @apply lg:text-xl text-lg font-bold lg:mb-5 mb-3;
}

.title-h6 {
  @apply lg:text-lg text-base font-semibold lg:mb-6 mb-6;
}

.sub-page-banner .title-h2 {
  @apply lg:text-5xl text-2xl lg:mb-7 mb-4 lg:!leading-[60px] font-normal;
}

.sub-page-banner .title-h2 span {
  @apply font-bold;
}

.list-none.with-bullets li {
  @apply pl-4 relative
}

.list-none.with-bullets .icon-bullet {
  @apply text-xl leading-none lg:absolute relative left-0 lg:top-0.5 top-1 lg:mr-0 mr-1 text-[#02C088];
}


@property --myColor3 {
  syntax: '<color>';
  initial-value: #1A70BA;
  inherits: false;
}

@property --myColor4 {
  syntax: '<color>';
  initial-value: #02C088;
  inherits: false;
}


@layer components {
  .btn-primary {
    @apply py-3 px-7 bg-[#02C088] transition ease-in-out hover:bg-[#1A70BA] text-white font-normal rounded-lg shadow-md focus:outline-none focus:ring focus:ring-[#02C088] focus:ring-opacity-75 inline-block;
  }

  .btn-secondary {
    @apply py-3 px-7 bg-gradient-to-r from-[var(--myColor3)] to-[var(--myColor4)] text-white font-normal rounded-lg focus:outline-none focus:ring focus:ring-[#02C088] focus:ring-opacity-75;
    transition: --myColor3 0.5s, --myColor4 0.5s;
  }
  .btn-secondary:hover {
    --myColor3: #1A70BA;
    --myColor4: #1A70BA;
  }
  .btn-transparent {
    font-family: "Manrope", sans-serif;
    @apply py-3 px-7 text-white font-semibold focus:outline-none focus:ring focus:ring-[#2BB3E4] focus:ring-opacity-75 inline-block;
  }
}


@property --myColor1 {
  syntax: '<color>';
  initial-value: #1A70BA;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: #02C088;
  inherits: false;
}

.text-primary {
  color: #00FFB4;
}

.text-secondary {
  color: #02C088;
}

.text-tertiary {
  color: #1A70BA;
}

p {
  @apply text-base;
  line-height: 1.8;
}

.list-faq li {
  position: relative;
}

.list-faq .icon-right {
  position: absolute;
  right: 0;
  top: 0;
}

.input-field {
  @apply flex p-0.5 bg-gradient-to-r from-[#1A70BA] to-[#02C088]
}

.swiper {
  padding-bottom: 2rem !important;
}

.swiper-button-prev, .swiper-button-next {
  top: 3rem !important;
}

.swiper-button-prev, .swiper-button-next {
  color: #ffffff !important;
}

.swiper-pagination-bullet {
  background: #ffffff !important;
}

.pagination a {
  @apply text-[#009AFF] hover:underline font-bold text-lg mx-2 inline-block;
}

.card-blog {
  @apply relative;
}

.card-blog .title-h3 a {
 @apply transition duration-300 ease-in-out;
}

.card-blog:hover .title-h3 a {
  @apply text-[#009AFF]
}

.card-blog .link-read-more {
  @apply text-[#185CFF]
}

.pagination a {
  @apply text-[#185CFF] hover:underline font-bold text-lg mx-2 inline-block;
}

.card-blog .link-read-more::after {
  content: '';
  @apply absolute top-0 left-0 w-full h-full
}

.intro-banner .title-h1 {
  @apply xl:text-4xl lg:text-3xl text-2xl font-semibold xl:mb-8 lg:mb-4 mb-4;
  line-height: 1 !important;
}

.intro-banner .title-h1 span.sub-heading {
  @apply lg:text-5xl text-3xl font-bold
}

.intro-banner p {
  @apply lg:text-lg text-lg;
}

.intro-banner .title-h3 {
  @apply lg:text-2xl text-xl font-semibold mb-0
}

.products-services-links .link {
  @apply lg:text-xl text-lg transition duration-300 ease-in-out  hover:text-[#02C088];
}

.blog-sidebar-links a {
  @apply text-[#000000] hover:text-[#037ccb] transition ease-in-out
}

.link .icon {
  transition: all ease-in-out 0.3s;
  position: relative;
  right: 0.5rem;
}

.link:hover .icon {
  right: 0;
}